<!doctype html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCGJ E-Learning Management System</title>
    
    <!-- Add stylesheets here -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.6/ui-grid.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="css/viewTraining.css" type="text/css" rel="stylesheet">
    
    
      <!-- Export Library for UI Grids -->
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/lodash.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/jszip.min.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/excel-builder.dist.js"></script>
    
    <!-- Add javascripts here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.8.0/ui-grid.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	
  	<!-- Controllers -->
    <script type="text/javascript" src="js/controllers/indexController.js"></script>
    <script type="text/javascript" src="js/controllers/viewTrainingController.js"></script>
</head>

<body>
	
	    <!-- NAV : to be detached -->
    <div class=container">
        <nav class="row">
            <img src="images/snb_logo.png" id="logo" class="col-md-2 col-lg-2" alt="Smalt & Beryl Logo">
            <div class="col-md-6 col-lg-8"></div>
            <a href="#" class="navItem col-md-1 col-lg-1"><span class="icon glyphicon glyphicon-home"
                    aria-hidden="true"></span>Home</a>
            <a href="#" class="navItem col-md-1 col-lg-1"><span class="glyphicon glyphicon-user"
                    aria-hidden="true"></span>My Profile</a>  
        </nav>
        <hr class="navBreak"/>
    </div>
    
<div ng-controller="viewTrainingController">
    <div class=" carousel slide" data-ride="carousel" id="myCarousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active itemMain">
                <img src="images/carousel_img.jpg" alt="Smalt & Beryl Portal carousel" class="carouselImg">
                <h2 class="carouselData">SNB's E-Learning Management Portal</h2>
                <h3 class="carouselData">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing at in tellus integer feugiat scelerisque varius.</h3>
                <button class="getStartedBtn carouselData">Get Started</button>
                
            </div>
        </div>
    </div>

    <br>
    <div>
        <h3 id="upcomingTrainingH3">Upcoming Trainings ({{courseList.length}})</h3>
        <hr id="break">
    </div>

<!-- inline-block Filters -->
<div class="parent">
<select ng-model="selectedCategory" class="filter category">
<option value="" selected disabled> Select Category </option> <!--  Show All Categories -->
</select>
<option value="" selected disabled> Select Category </option> <!--  Show All Categories -->
</select>
<select ng-model="selectedCourse" class="filter trainer" ng-options="i.instructorName for i in courseList">
<option value="" selected>Select Trainer</option>    <!--  Show All Trainers -->
</select>
</div>

    <div class="containerCourses">
        <!-- MAIN BOX COMING    ng-repeat-->
        <div class="customThumbnail" ng-repeat="i in courseList | trainerFilter : selectedCourse.instructorName ">  
            <span class="trendingOverlay">Trending</span>
            <img ng-src="{{i.courseImg}}" alt="thumbnail image" class="customThumbnailImg">
            <h4 class="courseHeading">{{i.courseName}}</h4>
            <p>{{i.instructorName}}, {{i.courseStartDate}} - {{i.courseEndDate}} </p>
                <h5 class="courseDescription">{{i.shortDescription}}</h5>
                <h4 class="coursePrice"><img class="rupeeIcon" src="https://img.icons8.com/windows/32/000000/rupee.png"/> {{i.coursePrice}} </h4>
                <p class="row">
                <div class="col-md-8">
                    <a href="#" ng-click="populateModal(i.courseId,courseList)" class="btn bold" id="viewDetailsBtn" role="button" data-toggle="modal" data-target="#myModal">View Details</a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn col-md-3 bold" id="enrolBtn" role="button">Enrol</a>
                </div>
                </p>
        </div>
    </div>
    
    
<!-- MODAL BOX -->
<div class="modal fade" role="dialog" id="myModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- DATA HERE -->
                <div class="modalHeader">
                    <h3 class="blue">{{modalSessionData.courseName}}</h3>
                    <p class="bold"> Description - <span> {{modalSessionData.longDescription}} </span> </p>
                    <p class="bold"> Training Duration - <span> {{modalSessionData.presentationStartDate}} to
                            {{modalSessionData.presentationEndDate}} </span> </p>
                    <p class="bold"> Assesment Date - <span> {{modalSessionData.assesmentDate}} </span> </p>
                    <p class="bold"> Cost - <span> {{modalSessionData.coursePrice}} </span> </p>
                    <br>
                    <h3 class="blue">Session Information</h3>
                </div>
                <!-- UI GRID -->
                <div id="grid1" ui-grid="{ data: sessionTableData }" class="grid" ui-grid-auto-resize></div>
                <span>{{errorMsg}}</span>
            </div>
        </div>
    </div>
</div>

</body>
</html>