*, *:before, *:after {
    box-sizing: border-box;
  }

#logo{
    width: 9%;
    margin: 1rem;
  }

.navItem{
    margin: 2rem;
    color: black;
    font-weight: bold;
  }

.navItem > span{
	padding-right: 0.7rem;
}

.navBreak{
    border-top: 1px solid #d7d2d2;
    margin : 0rem;	
}
.container{
  height : 10%;
  width : 100%;
}

.left-send{
  text-align: left;
}

.carouselData{
    position: absolute;
    left: 4rem;
}

button.carouselData{
    top: 22rem;
    padding: 0.5rem 5rem;
    border-radius: 0.7rem;
    background-color: #640464;
    color: white;
    font-size: 1.7rem;
}

h2.carouselData{
	top: 4rem;
    font-weight: bold;
}

h3.carouselData{
    top: 10rem;
    width: 100rem;
}

.carouselImg{
  position: relative;
  max-height: 34rem;
    width: auto;
    margin-left: 118rem;
}

#break{
  margin-top: 0%;
  border-top: 1px solid black;
}

#upcomingTrainingH3{
  margin-left: 4%;
  margin-bottom: 0%;
  font-weight : bold;
}

.containerCourses{
  display: flex;
  justify-content: flex-start;
  /* width: 20%; */
  flex-wrap: wrap;
}

.customThumbnail{
  padding: 1rem;
  box-shadow: 1px 1px #888888;
  background-color: #fff;
  border: 2px solid darkgrey;  
  width: 20%;
  margin-left: 4%;
  position: relative;
}
.trendingOverlay{
	border-radius: 0 10rem 10rem 0;
    position: absolute;
    left: 0rem;
    color: white;
    width: 10rem;
    padding: 0.7rem 2rem;
    background-color: #fc4f4f;
}
.customThumbnailImg{
  display: block;
  max-width: 100%;
  height: auto;
}

#enrolBtn{
  width: 100%;
  margin-left: 1rem;
}

#viewDetailsBtn{
  margin -left: -1rem;
}

.bold{
	font-weight: 600;
}

.blue{
	color : blue;
}

.bold > span {
	font-weight : 100;
}

.filter{
	padding: 0.6rem;
    border-radius: 0.7rem;
    font-size: 1.5rem;
    border: 1px solid black;
    margin-bottom: 2rem;
}

.trainer{
	width: 15rem;
}

/*
.myGrid {
    width: 500px;
    height: 250px;
  }
  */